<po-page-default p-title="Produtos" p-subtitle="Exemplo de uso da API RxResource">
  @let products = (productsResource.value() || []) | productsSearch: filter();
  @let hasValue = productsResource.hasValue();
  @let isLoading = productsResource.isLoading();
  @let error = productsResource.error();

  <div class="po-row">
    <po-select
      class="po-sm-12 po-md-4 po-lg-2 po-xl-2"
      p-label="Itens por página"
      [p-options]="optionsLimit"
      (p-change)="onChangeLimit($event)"
      name="limit"
    />
    <po-search
      class="po-sm-12 po-md-8 po-lg-4 po-xl-3 po-mt-md-4 po-mt-lg-4 po-mt-xl-4"
      [p-items]="products!"
      [p-disabled]="!hasValue"
      [p-filter-keys]="filterKeys"
      p-aria-label="Campos para pesquisa de Produtos"
      [p-show-listbox]="true"
      (p-filter)="onChangeFilter($event)"
    />
    <po-container class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-5">
      @if (hasValue) {
        @for (product of products; track product.id) {
          <app-product-card [product]="product" />
        } @empty {
          <p>Nenhum produto encontrado.</p>
        }
      } @else {
        <p>Nenhum produto encontrado.</p>
      }

      @if (error) {
        <p class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2">Ops, ocorreu erro ao tentar listar os Produtos :(</p>
      }

      <po-loading-overlay [hidden]="!isLoading" p-text="Carregando produtos" />
    </po-container>
  </div>
</po-page-default>
