<po-page-default p-title="Produtos" p-subtitle="Exemplo de uso da API RxResource">
  @let products = productsResource.value();
  @let hasValue = productsResource.hasValue();
  @let isLoading = productsResource.isLoading();
  @let error = productsResource.error();

  <div class="po-row">
    <po-select
      p-label="Itens por página"
      [p-options]="optionsLimit"
      (p-change)="onChangeLimit($event)"
      name="limit"
    ></po-select>
    <po-container class="po-mb-5">
      @if (hasValue) {
        @for (product of products; track product.id) {
          <app-product-card [product]="product" />
        }
      } @else {
        <p>Nenhum produto encontrado.</p>
      }

      @if (error) {
        <p class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2">Ops, ocorreu erro ao tentar listar os Produtos :(</p>
      }

      <po-loading-overlay [hidden]="!isLoading" p-text="Carregando produtos" />
    </po-container>
  </div>
</po-page-default>
