<po-widget
  p-title="Cotações"
  p-primary-label="Obter Cotações"
  (p-primary-action)="getCurrencyQuotes()"
  [p-height]="220"
>
  <form>
    <po-multiselect
      [(ngModel)]="currencyIds"
      name="currencyIds"
      p-placeholder="Selecione uma ou mais moedas"
      [p-options]="options"
      [p-hide-search]="true"
      [p-hide-select-all]="true"
    />
  </form>

  <po-modal #infoModal p-title="Cotações">
    @if (currencyInfo.length > 0) {
      @for (info of currencyInfo; track $index) {
        <app-currency [info]="info" />
      }
    }
  </po-modal>
</po-widget>

<po-loading-overlay p-text="Buscando Cotações" [hidden]="isHideLoading" />
