@if (pokemons()) {
  <po-container class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-2">
    @for (pokemon of pokemons()?.results; track $index) {
      <app-pokemon-card [pokemon]="pokemon" />
    }
  </po-container>

  <po-container class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-4">
    <app-show-more-button
      (clickShowMore)="onShowMore()"
      [isLoading]="!isHideLoading()"
      [isDisabled]="pokemons()?.next === null"
    />
  </po-container>
} @else {
  @if (isLoadShowMore()) {
    <po-loading-overlay p-text="Carregando lista de Pokémons" />
  } @else {
    <po-container class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-mb-4">
      <p class="po-font-text-bold">Nenhum Pokémon foi encontrado</p>
    </po-container>
  }
}
