<po-toolbar
  [p-title]="name"
  [p-profile]="profile"
  [p-profile-actions]="profileActions"
  [p-show-notification]="true"
  [p-notification-number]="notificationNumber"
  [p-notification-actions]="notificationActions"
  [p-actions-icon]="iconTheme()"
  [p-actions]="actions"
/>

<po-modal #userAccess p-title="Acessos do Usuário">
  <app-user-accesses />
</po-modal>

<po-modal #about p-title="Sobre">
  <div class="po-row">
    <p class="po-font-text-small po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2">
      Este site apresenta funcionalidades práticas desenvolvidas com Angular, permitindo que os visitantes consultem
      dados dinâmicos e interativos.
    </p>
    <p class="po-font-text-small po-sm-12 po-md-12 po-lg-12 po-xl-12">
      Embora não seja uma plataforma para aprendizado de Angular, desenvolvedores que trabalham com o framework podem
      utilizá-lo como referência para implementação de funcionalidades semelhantes em seus próprios projetos.
    </p>
  </div>
</po-modal>
