<po-page-default p-title="Carregamento adiado" p-subtitle="Defer">
  <po-container class="po-row">
    <app-hover class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" [height]="height" />
    <app-interaction class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" [height]="height" />
    <app-timer class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" [height]="height" />
    <app-viewport class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" [height]="height" />
    <app-when class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" [height]="height" />
    <po-widget class="po-sm-12 po-md-6 po-lg-4 po-xl-4 po-mb-2" p-title="Complemento" [p-height]="height">
      <p class="po-font-text po-mt-1">
        Para os gatilhos <strong>Interaction</strong>, <strong>Hover</strong> e <strong>Viewport</strong>, como
        alternativa, você pode especificar uma variável de referência de modelo no mesmo modelo que o bloco que o
        elemento que é monitorado para entrar na viewport. Essa variável é passada como um parâmetro no acionador da
        janela de visualização
      </p>
    </po-widget>
  </po-container>
</po-page-default>
