<po-container p-title="Pessoas">
  <form [formGroup]="form">
    <po-tabs>
      <po-tab p-label="Dados Gerais" [p-active]="true">
        <po-input
          formControlName="name"
          p-label="Nome"
          p-placeholder="João da Silva"
          [p-no-autocomplete]="true"
          p-clean
          p-required
        />
        <po-input
          formControlName="document"
          p-label="CPF"
          p-placeholder="000.000.000-00"
          p-mask="999.999.999-99"
          [p-no-autocomplete]="true"
          p-clean
          p-required
        />
      </po-tab>
      <po-tab p-label="Endereço">
        <app-address />
      </po-tab>
      <po-tab p-label="JSON">
        <pre> {{ form.getRawValue() | json }}</pre>
      </po-tab>
    </po-tabs>
  </form>
</po-container>
