<po-page-default p-title="Exemplos Signals" p-subtitle="Exemplos de uso de Signals">
  <po-container class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2">
    <div class="po-row">
      <app-untracked class="po-sm-12 po-md-12 po-lg-6 po-xl-12" />
      <app-linked class="po-sm-12 po-md-12 po-lg-6 po-xl-4" />
      <app-store class="po-sm-12 po-md-12 po-lg-6 po-xl-4" />
      <app-effect class="po-sm-12 po-md-12 po-lg-6 po-xl-4" />
      <app-to-signal class="po-sm-12 po-md-12 po-lg-6 po-xl-4" />
    </div>
  </po-container>
</po-page-default>
