<div #profileElement>
  <po-avatar
    #target
    p-size="xs"
    p-src="https://avatars.githubusercontent.com/u/42416870?s=96&v=4"
    (click)="popup.toggle()"
  />
</div>

<po-popup #popup [p-actions]="actions" [p-target]="profileElement" [p-hide-arrow]="true" p-size="medium">
  <div p-popup-header-template class="po-toolbar-profile-item-header">
    <po-avatar
      class="po-toolbar-profile-item-avatar"
      p-size="sm"
      p-src="https://avatars.githubusercontent.com/u/42416870?s=96&v=4"
    />
    <div>
      <div class="po-toolbar-profile-item-header-title">Danilo Salve</div>

      <div class="po-toolbar-profile-item-header-subtitle">github.com/danilosalve</div>
    </div>
  </div>
</po-popup>

<po-modal #userAccess p-title="Acessos do Usuário">
  <app-user-accesses />
</po-modal>

<po-modal #about p-title="Sobre">
  @defer (when !(aboutModal().isHidden)) {
    <div class="po-row">
      <p class="po-font-text-small po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mb-2">
        Este site apresenta funcionalidades práticas desenvolvidas com Angular, permitindo que os visitantes consultem
        dados dinâmicos e interativos.
      </p>
      <p class="po-font-text-small po-sm-12 po-md-12 po-lg-12 po-xl-12">
        Embora não seja uma plataforma para aprendizado de Angular, desenvolvedores que trabalham com o framework podem
        utilizá-lo como referência para implementação de funcionalidades semelhantes em seus próprios projetos.
      </p>
    </div>
  }
</po-modal>
