<po-page-default p-title="Rick & Morty | Personagens" p-subtitle="Exemplo de uso da API resource">
  @let persons = personsResource.value() || [];
  @let isLoading = personsResource.isLoading();
  @let error = personsResource.error();

  @if (error) {
    <p>Ops, ocorreu erro ao tentar listar os Usuários :(</p>
    {{ error }}
  } @else {
    <app-persons-list
      [persons]="persons"
      [isLoading]="isLoading"
      (loadMorePersons)="loadPersons()"
      (viewDetailPerson)="viewDetail($event)"
    />
  }

  <po-modal [p-title]="person()?.name || 'Detalhes'" p-size="lg">
    <app-person-detail [person]="person()!" />
  </po-modal>
</po-page-default>
