<div class="po-row">
  @if (person()) {
    <po-container class="po-sm-12 po-md-12 po-lg-12 po-xl-12">
      <div class="po-md-5 po-lg-5" appZoomOnHover>
        <po-image [p-src]="image()" [p-height]="240" p-alt="Foto do Personagem" p-loading="lazy" />
      </div>

      <div class="po-md-7 po-lg-7">
        <po-info p-label="Especie" [p-value]="species()" />
        <po-info p-label="Tipo" [p-value]="type()" />
        <po-info p-label="Quantidades de Episodios" [p-value]="episodes().toString()" />
      </div>
    </po-container>
  }
</div>
